<body id="new">
<h2>ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :ニックネーム, {class: 'label'} %> <em>(最大１０文字)</em><br />
    <%= f.text_field :nickname, class: "form-registration", autofocus: true, maxlength: "10" %>
  </div>
  
  <div class="field">
    <%= f.label :email, {class: 'label'} %><br />
    <%= f.email_field :email, class: "form-registration", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, {class: 'label'} %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-registration", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, {class: 'label'} %><br />
    <%= f.password_field :password_confirmation, class: "form-registration", autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録", class: "btn" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</body>