<!DOCTYPE>
<p><%= @user.nickname %>さんの投稿</p>
    <% @habits.each do |habit| %>
    <ul>
        <li><%= link_to simple_format(habit.title), habit_step_path(habit.id, params[:id]), class: 'habit-list', method: :get %></li>
        <li><%= simple_format(habit.purpose) %></li>
        <li><%= simple_format(habit.reason) %></li>
    </ul>
    <ul>
        <li><%= link_to 'ステップ作成', new_habit_step_path(habit.id) %></li>
        <li><%= link_to '編集', edit_habit_path(habit.id) %></li>
        <li><%= link_to '削除', habit_path(habit.id), method: :delete %></li>
    </ul>
<% end %>