<% if @user.id == current_user.id %>
<section id="modal" class="hidden">
    <p>習慣化までのステップを作成しよう！<br>
    ゴールまでの道のりが見えれば、モチベーションup!!
    </p>
    <div id="close">
    閉じる
    </div>
</section>
  <div id="open">
    ヒント！
  </div>
<div id="mask" class="hidden"></div>
<% end %>

<div class="post">
<h2 class="user-name"><%= @user.nickname %>さんの投稿</h2>
    <% @habits.each do |habit| %>
    <ul class="object">
        <li class="habit-list">習慣化したい行動</li>
        <li class="habit-post"><%= simple_format(habit.title) %></li>
        <li class="habit-list">目的</li>
        <li class="habit-post"><%= simple_format(habit.purpose) %></li>
        <li class="habit-list">理由</li>
        <li class="habit-post"><%= simple_format(habit.reason) %></li>
    </ul>
    <ul class="link">
        <li class="link-button"><%= link_to 'ステップ一覧', habit_step_path(habit.id, habit.steps), class: 'contents-link' %></li>
        <% if habit.user.id == current_user.id %> 
        <li class="link-button"><%= link_to 'ステップ作成', new_habit_step_path(habit.id), class: 'contents-link' %></li>
        <li class="link-button"><%= link_to '編集', edit_habit_path(habit.id), class: 'contents-link' %></li>
        <li class="link-button"><%= link_to '削除', habit_path(habit.id), class: 'contents-link', method: :delete %></li>
        <% end %>
    </ul>
<% end %>
</div>
<%= javascript_include_tag "user.js" %>
<%= paginate @habits %>