<div class="form">
  <%= form_for [@habit, @step] do |f| %>
    <h2 class="message">
    習慣化するまでのステップを記載しよう！
    </h2>
    <h3 class="habit-title">♦︎習慣化したい行動：<em><%= @habit.title %></em></h3>
    <%= f.label :action, "アクション" %><br>
    <%= f.text_area :action, class: "text-long", placeholder: "小さな行動が大きな成果に繋がる！" %><br>
    <%= f.label :schedule, "回数、日数を決めよう！" %><br>
    <%= f.text_area :schedule, class: "text-long", placeholder: "例：1日３回、週２回…etc" %><br>
    <%= f.submit "送信", class: "btn" %>
  <% end %>
</div>