<div class="form">
  <%= form_for(@habit) do |f| %>
    <h2 class="message">
    習慣化したい行動を決めよう！
    </h2>
    <%= f.label :title, "行動を決めよう！" %><br>
    <%= f.text_area :title, class: "text-short", placeholder: "習慣化したい行動" %><br>
    <%= f.label :purpose, "目的を定めよう！" %><br>
    <%= f.text_area :purpose, class: "text-long",placeholder: "目的" %><br>
    <%= f.label :reason, "理由を明確化しよう!" %><br>
    <%= f.text_area :reason, class: "text-long", placeholder: "理由" %><br>
    <%= f.submit "送信", class: "btn" %>
  <% end %>
</div>
    