<!DOCTYPE html>
<html>
  <head>
    <title>Habits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>
      <a class="title" href="/">Habits</a>
    </h1>
    <% if user_signed_in? %>
    <div class="menu-bar">
      <ul class="menu-bar-tab">
        <li><%= link_to "投稿する", new_habit_path, class: 'contents', method: :get %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, class: 'contents', method: :delete %></li>
        <li><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: 'contents', method: :get %></li
      </ul>
    </div>
    <% end %>
    
    </header>
    <%= yield %>
  </body>
</html>
