<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <html lang="ja">
    <title>Habits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="wrapper">
    <header class="header">
    <h1>
      <a class="title" href="/">Habits</a>
    </h1>
    <% if user_signed_in? %>
      <ul class="menu-bar-tab">
        <li><%= link_to "みんなの投稿", habits_path, class: 'contents', method: :get %></li>
        <li><%= link_to "投稿する", new_habit_path, class: 'contents', method: :get %></li>
        <li><%= link_to "マイページ", user_path(current_user.id), class: 'contents', method: :get %></li>
        <li><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: 'contents', method: :get %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, class: 'contents', method: :delete %></li>
      </ul>
    <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class="footer">
      <p class="copyright">Copyright © 2020 Yukishita keita All rights reserved.</p>
    </footer>
    </div>
  </body>
</html>
